a {
  text-decoration: none !important;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.main-color {
  color: #313131;
}

.card-width {
  width: 100%;
}

.theme-banner img {
  transition: 0.4s linear;
}

.theme-banner:hover img {
  transform: scale(1.05);
}

.price-filter {
  font-family: Arial, sans-serif;
}

.price-filter input[type="radio"] {
  display: none;
}

.price-filter label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

.price-filter input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
}

.price-filter input[type="radio"]:checked:focus + label {
  outline: 2px solid #007bff;
}
