a {
  text-decoration: none !important;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.main-color {
  color: #313131;
}

.card-width {
  width: 100%;
}

.theme-banner img {
  transition: 0.4s linear;
}

.theme-banner:hover img {
  transform: scale(1.05);
}

.category-list {
  list-style: none;
  padding-left: 0;
}
.category-list li {
  margin-bottom: 5px;
  border-left: 3px solid transparent; /* Varsayılan olarak kenarlık şeffaf */
}
.category-list li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  padding-left: 10px; /* Kenarlığın içeriden başlaması için boşluk bırakıyoruz */
}
.category-list li a:hover {
  color: #007bff;
}
.category-list li.active {
  border-left-color: #007bff; /* Aktif kategori için kenarlık rengi değiştirilir */
  font-weight: bold; /* Aktif kategoriye kalın yazı stili uygulanır */
}
