a {
  text-decoration: none !important;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.main-color {
  color: #313131;
}

.card-width {
  width: 100%;
}

.theme-banner img {
  transition: 0.4s linear;
}

.theme-banner:hover img {
  transform: scale(1.05);
}
